<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  {{>navbar}}
  <div class="main-box">
    <div class="box">
      <form action="/signin" method="POST">
        <div class="row mb-3">
          <input type="email" class="form-control" value="" name="email" placeholder="Your Email">
        </div>
        <div class="row mb-3">
          <input type="password" class="form-control" name="password" value="" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <p class="account"><a href="/signup">Don't have a account ?</a></p>
      </form>
    </div>
  </div>
  {{>footer}}
</body>

</html>